# Archivos de entorno virtual y dependencias de sistema
# No incluyas la carpeta de tu entorno virtual (ej. venv/, env/)
/venv/
/env/
/.venv/

# Archivos de Bytecode y caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Archivos de configuración de IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Archivo de variables de entorno
# ¡MUY IMPORTANTE para no subir tus secretos (claves de API, contraseñas de BD, etc.)!
.env
.env.*
!.env.example

# Archivos estáticos recolectados por Django
# La carpeta donde 'collectstatic' vuelca todos los archivos.
/staticfiles/

# Archivos subidos por los usuarios en producción/desarrollo
/media/

# Base de datos local de desarrollo
*.sqlite3
*.sqlite3-journal
db.sqlite3
db.sqlite3-journal

# Logs y otros archivos temporales
*.log
local_settings.py

# Reportes de testing y cobertura de código
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/

# Paquetes de distribución de Python
build/
dist/
*.egg-info/
*.egg